
body{
    color:rgb(252, 252, 252);

    background-color: rgb(0, 0, 0);
    background-image: url(https://github.com/Sanped07/Sapataria.Arnaldo/blob/main/img/PPLOG.jpg?raw=true);
    background-repeat: no-repeat;
    background-position: 650px;
background-position-y:250px;
        }
h1{
    font-size: 40px;
    padding: 15px;

}
h3,h2,p{
    font-size: 25px;
    padding: 15px;

}

        a{
            color:rgb(230, 181, 108);
            text-decoration: double;
            padding: 102px;

        }
        ul {
            display: flex;
            justify-content:center;
            list-style-type:none;
            align-items:flex-end;
            padding: 70px;
            background: url(https://www.adolfoturrion.com.br/image/cache/data/sapatos/sociais/oxfords/teo/preto/sapato-social-oxford-teo-preto-a1-550x550.jpg);
            
    background-position: 520px;
background-position-y:520px;

        }
    
       
        
.maps{
    align-items:center;
}
            
            button{
                background: linear-gradient(  120deg,#c59101,rgb(230, 181, 108) );
                padding:12px;
            font-size: 20px;
            }
            form{
                font-size: 25px;
                padding:12px;
            }

            #sucess{
                border: 5px dotted rgb(230, 181, 108);
                background-image: url();
            }
#imx{
    background-image: url(https://github.com/Sanped07/Sapataria.Arnaldo/blob/main/img/PPLOG.jpg?raw=true);
    background-repeat: no-repeat;
background-position: 650px;
background-position-y:150px;
}

form{

padding: 20px;
}
input{
    text-align: justify;
}